/*@import "https://notes.bluetech.top/chrome/notes/card.css";*/
/*@import "https://notes.bluetech.top/chrome/pagenote-5.4.7/pagenote.css";*/

/* Styles in this file stay in the page document and should be limited to
 * pagenote/webpage integration. The panel UI lives in shadow DOM. */

pagenote-aside,
pagenote-annotation-ref,
pagenote-colors{
	display: none !important;	
}
.pagenote-annotation pagenote-annotation-inner{
	background: none !important;
}	
pagenote-annotation pagenote-annotation-inner[data-tip="0"]{
	width: 500px;
}
pagenote-annotation pagenote-annotation-inner[data-tip="1"][data-focus=menu] pagenote-annotation-ref{
	transform:translateY(0)
}
pagenote-annotation pagenote-annotation-inner[data-tip="1"][data-focus=menu] pagenote-annotation-menus{
	margin-bottom: 0;
}
pagenote-block[contenteditable=true]{
	min-height: 60px;
	margin: 4px 10px 0px;
}
pagenote-annotation pagenote-annotation-inner{
	padding-bottom: 4px;
}
pagenote-annotation pagenote-annotation-inner pagenote-block[data-role=annotation-editor]{
	padding: 2px;
}
pagenote-icon[aria-controls=delete-icon]{
	right:  5px !important;
}
pagenote-annotation pagenote-annotation-inner{
	width: 500px;
}
pagenote-block[contenteditable=true]{
	max-width: 482px;
	width: 482px;
}
